/* roboto-regular - cyrillic_latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto'), local('Roboto-Regular'),
         url('../../fonts/roboto-v20-cyrillic_latin-regular.woff2') format('woff2'),
         url('../../fonts/roboto-v20-cyrillic_latin-regular.woff') format('woff');
  }
/* roboto-700 - cyrillic_latin */
@font-face {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-display: swap;
src: local('Roboto Bold'), local('Roboto-Bold'),
        url('../../fonts/roboto-v20-cyrillic_latin-700.woff2') format('woff2'),
        url('../../fonts/roboto-v20-cyrillic_latin-700.woff') format('woff');
}
/* roboto-slab-regular - latin_cyrillic */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto Slab'), local('Roboto-Slab'),
         url('../fonts/roboto-slab-v12-latin_cyrillic-regular.woff2') format('woff2'),
         url('../fonts/roboto-slab-v12-latin_cyrillic-regular.woff') format('woff');
}

/* open-sans-regular - latin_cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
         url('../fonts/open-sans-v17-latin_cyrillic-regular.woff2') format('woff2'),
         url('../fonts/open-sans-v17-latin_cyrillic-regular.woff') format('woff');
}