.form-field {
    position: relative;
    margin-bottom: 1em;
}

.form-field__input {
    width: 100%;
    padding: 0.85em 1.5em;
    font-family: $secondary-font;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: -0.5px;
    border: none;
    outline: none;
    border: 2px solid #E6E8F0;
    transition: border-color .3s linear;
}

.form-field__input.success {
    border-color: #008219;
    transition: border-color .3s linear;
}

.form-field__input.error {
    border-color: #ff0000;
    transition: border-color .3s linear;
}

.form-field__label {
    display: block;
    cursor: pointer;

    transform: translate(24px, -28px);
    transition: all 0.2s linear;

    font-family: $secondary-font;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 0;
    letter-spacing: -0.5px;

    color: $primary-text_color;
    transition: .3s linear;
    opacity: 1;
}

.form-field__input:focus~.form-field__label, .form-field__label.reduce {
    opacity: 0.5;
    transition: .3s linear;
    font-size: 12px;
    transform: translate(6px,-46px);
}

.error-message {
    position: absolute;
    top: 38px;
    left: 7px;
    font-family: "Open Sans",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #FF0000;
    opacity: 1;
    transition: .3s linear;
}