$primary-theme_color: #3D3BFF;
$secondary-theme_color: #FAFBFE;

$primary-title_color: #000000;

$primary-text_color: #657195;
$primary-price_color: #FFFFFF;

$primary_bg-color: #F6F7FD;

$primary-font: "Roboto", sans-serif;
$secondary-font: "Open Sans", sans-serif;
$number-font: "RobotoSlab-Regular", sans-serif;
